@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@300;500;600&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

    * {
      padding: 0;
      margin: 0;
      border: none;
    }

    body {
  font-family: poppins, robotto, sans-serif;
  background-color: #232323;
}



h1, h2 {
  font-family: 'DM Serif Display', serif;
  font-weight: 500;
  font-size: 2.5em;
  text-align: center;
  color: white;


}

h3 {
  font-family: 'DM Serif Display', serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 5px;
  

}

p {
  font-family: poppins, sans-serif;
  color: white;
  margin: 0;
  letter-spacing: 5px;
  
}

/* navbar and logo */

.nav {
  color: white;
  letter-spacing: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  font-size: small;
  text-align: center;
  
  
}

header { 
  text-align: center;}

.nav > div {
 
  margin: 20px;
  text-align: center;
  font-size: 1em;
  color: white;
  
  
}

.nav a { 
  color: white;
  text-decoration: none!important;
  
}

.nav a:hover {
  color: #00FFC2;
}

 .active {
  border-bottom: 1px solid #00FFC2;
}

.logo img {
  
  max-width: 150px;
  padding-top: 15px;
}

/* hero section */



  #hero-outer {
    height: 600px;  
    width: 100%; 
    overflow: hidden;
    position: relative;
    

  }
  

  #hero-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;  
    width: 100%;  
    background-image: linear-gradient(360deg, #232323, #23232333, #23232300), url(/assets/images/hero-image.webp);
    background-attachment: fixed;
    position: relative;

    /* animation upon loading */
    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;

  }

    /* animation zoom*/
    @keyframes hero-zoom {

      from{
  transform: scale(1);
      }
  
      to{
        transform: scale(1.1);
      }
  
    }
  
  .cover-text {
    width: 100%;
    position: absolute;
    bottom: 30px;
    
  }

  .cover-text, .cover-text h2 {
    color: white;
    font-size: 6rem;
    text-shadow: black;
    letter-spacing: 2px;

  }

  .cover-text, .cover-text h3 {
    color: white;
    font-family: poppins;
    font-size: 1.5rem;
    text-shadow: black;
    text-align: center;
    font-weight: 500;

  }

  .cover-text, .cover-text h4 {
    color: white;
    font-family: poppins;
    font-weight: 200;
    font-size: .8rem;
    text-shadow: black;
    text-align: center;
    padding-top: 25px;
    
  }
  


/* lighthouse cards */

  #cards {
    display: flex;
    justify-content: center;
    flex-basis: auto; 
    height: 500px;
    
   
 }

 #cards_below {
  display: flex;
  justify-content: center;
  flex-basis: auto; 
  padding-top: 25px;
  padding-bottom: 25px;
  height: 500px;
  
}


.content {
  display: flex;
  justify-content: center;
  letter-spacing: 5px;
}

.content h3 {
  
  position: absolute;
  bottom: 40px;
}

.content p {
  
  position: absolute;
  bottom: 10px;
  
}


.lighthouse1 {
  background-color: black;
  width: 400px;
  height:500px;
  border-radius: 5px;
  margin: 10px;
  background-image: linear-gradient(360deg, #232323, #23232300, #23232300), url(/assets/images/51536374908_53edd29936_b.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
 
} 
 



.lighthouse2 {
  background-color: black;
  width: 400px;
  height:500px;
  border-radius: 5px;
  margin: 10px;
  background-image: linear-gradient(360deg, #232323, #23232300, #23232300), url(/assets/images/Valentia_lighthouse.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
} 

.lighthouse3 {
  background-color: black;
  width: 400px;
  height:500px;
  border-radius: 5px;
  margin: 10px;
  background-image: linear-gradient(360deg, #232323, #23232300, #23232300), url(/assets/images/Fastnet-Rock.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
} 

.lighthouse4 {
  background-color: black;
  width: 600px;
  height:400px;
  border-radius: 5px;
  margin: 10px;
  background-image: linear-gradient(360deg, #232323, #23232300, #23232300), url(/assets/images/wicklow-head-lighthouse.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
} 

.lighthouse5 {
  background-color: black;
  width: 600px;
  height:400px;
  border-radius: 5px;
  margin: 10px;
  background-image: linear-gradient(360deg, #232323, #23232300, #23232300), url(/assets/images/Fanad_Head_Lighthouse__2699889956_.webp);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: relative;
} 


/* video */

.video {
  text-align: center;
  height: 500px;
  
  
}

.video h2 {
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 20px 0px 20px 0px;
  font-family: poppins;
}


/* footer section */

footer {
  max-height: 150px;
  background-color: #232323;
  text-align: center;

  
}


.social-media-icons-white {
  text-align: center;

}
.social-media-icons-white a {
  color: white;
  text-decoration: none;
}

.social-media-icons-white a:hover {
  color:#00FFC2
}

.social-media-icons-white > li {
display: inline;
margin: 1%;
padding: 2%;
}

    /*contact page*/

    .map { 
      text-align: center;
    
    }

    /* gallery page */

    #photos {
clear: both;
line-height: 2;
column-count: 4;
column-gap: 2;
    }
    
    
    #photos > img {
width: 100%;
    }

    img:before {

    }

    img:hover {
      background: linear-gradient(to bottom, rgba (0,176,155,0.5), rgb(89, 255, 172));
    }


    /*form*/

    .form {
      font-family: poppins;
      color: white;
      display: flex;

    }



    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
      text-align: left;
      background-color: #232323;
      color: white;
    }

    input[type=email], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
      text-align: left;
      background-color: #232323;
      color: white;
    }



    
    input[type=submit] {
      background-color: #232323;
      color: rgb(255, 255, 255);
      padding: 12px 20px;
      border: solid white;
      border-radius: 4px;
      cursor: pointer;
      font-weight: 600;
    }
    
    input[type=submit]:hover {
      background-color: #00FFC2;
      color: black;
      font-weight: 600;
     
    }
    
    .form_container {
      border-radius: 5px white;
      background-color: #232323;
      padding: 20px;
      width: 600px;
      display: flex;
      padding-bottom: 20px;
      align-items: center;
      margin: 0 auto;
    }

  

/* media queries  480px*/
      @media only screen
      and (min-device-width : 320px) 
      and (max-device-width : 950px)  {

      
     
        .cover-text h2 {
        font-size: 3rem;

      }

      .cover-text h3 {
        font-size: 1rem;
        padding-top: 10px;

      }

      .cover-text h4 {
        font-size: .7rem;
        padding: 10px 5px 0 5px;

      }
    

      #hero-outer {
        width: 100;
        height: 450px;
        background-image: linear-gradient(360deg, #232323, #23232333, #23232300);
        margin-bottom: 0;
      }
      
      
      iframe {
        width: 100vw;
        height: 100vmin;
        padding: 0 5px 0 5px;
      }

      #hero-image {
      
        width: 100%;
        height: 450px;  
        background-image: linear-gradient(360deg, #232323, #23232333, #23232300), url(/assets/images/hero-image.webp);
        position: relative;
        background-position: center, center; }

       
        #cards {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px 10px 20px 10px;
        height: 1000px;
       
        
      }
      .content h3 {
        bottom: 28px;
        line-height: 1.5rem;
      }
      .content p {
        bottom: 2px;
      }

      .lighthouse1 {
        width: 100%;
        height:500px;
        margin: 10px 0 30px 0;
      
       
      } 
    
      
      
      .lighthouse2 {
        width: 100%;
        height:500px;
        margin: 10px 0 30px 0;
      } 
      
      .lighthouse3 {
        width: 100%;
        height:500px;
        margin: 10px 0 10px 0;
      } 
      
      .lighthouse4 {
        width: 100%;
        height:200px;
        margin: 10px 5px 30px 5px;
      } 
      
      .lighthouse5 {
        width: 100%;
        height:200px;
        margin: 10px 5px 30px 5px;
      } 
      
      #cards_below {
        
        height: 200px;
        text-align: center;
        margin: 5px;
        
        
      }
iframe {
  width: 365px;
}
 
        
      }
   
 
      /* media queries from 950px and down */
      @media only screen and (max-width: 950px) {

      #hero-image {
        width: 100%;
        height: 100vh;  
        background-image: linear-gradient(360deg, #232323, #23232333, #23232300), url(/assets/images/hero-image.webp);
        position: relative;
        background-position: center, top; 
        margin: 0 auto;
      }

      .cover-text h2 {
        line-height: 1em;
        text-shadow: 2px 2px 6px #232323;
        }
       
        iframe {
          width: 90%;
          height: 300px;
          
        }

}
      
    /* media queries for gallery up to 800px */
    @media only screen and (max-width: 800px) { 
      #photos {
        column-count: 2;
      }

    }   