@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@300;500;600&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

    * {
      padding: 0;
      margin: 0;
      border: none;
    }

    body {
  font-family: poppins, robotto, sans-serif;
  background-color: #232323;
}



h1, h2 {
  font-family: 'DM Serif Display', serif;
  font-weight: 500;
  font-size: 2.5em;
  text-align: center;
  z-index: 2;

}

h3 {
  font-family: 'DM Serif Display', serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;

}

p {
  font-family: poppins, sans-serif;
  color: white;
  
}

/* navbar and logo */

.nav {
  color: white;
  letter-spacing: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  font-size: small;
  z-index: 2;
  
}


.nav > div {
 
  margin: 20px;
  text-align: center;
  font-size: 1em;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  
}

.nav a { 
  color: white;
  text-decoration: none!important;
  
}

.nav a:hover {
  color: #00FFC2;
}

.active {
  border-bottom: 1px solid #00FFC2;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
  padding: 25px 0px 10px 0px;

}

/* hero section */

  .wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
  }
  
  .hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
  }
  
  .background {
    transform: translateZ(-10px) scale(2);
  }
  
  .foreground {
    transform: translateZ(-5px) scale(1.5);
  }
  
  .background,
  .foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .title {
    font-size: 7rem;
    color: black;
  }
  
  .content {
    width: 200px;
    font-size: 1rem;
    padding: 3rem;
    color: black;
    justify-content: center;
    align-items: center;
  }
  


/* lighthouse cards */


  #cards {
    display: flex;
    justify-content: space-between;
    flex-basis: auto; 
    padding: 0px 250px 0px 250px;
    height: 400px;
    text-align: center;
    
  
 }

 #cards_below {
  display: flex;
  justify-content: space-between;
  flex-basis: auto; 
  padding: 0px 250px 0px 250px;
  height: 400px;
  text-align: center;
  

}

.lighthouse1 {
  background-color: black;
  width: 300px;
  height:400px;
  border-radius: 5px;
  margin: 10px;
  position: relative;
  background-image: url(/assets/images/51536374908_53edd29936_b.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
 
.lighthouse2 {
  background-color: black;
  width: 300px;
  height:400px;
  border-radius: 5px;
  margin: 10px;
  position: relative;
  background-image: url(/assets/images/Valentia_lighthouse.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
} 

.lighthouse3 {
  background-color: black;
  width: 300px;
  height:400px;
  border-radius: 5px;
  margin: 10px;
  position: relative;
  background-image: url(/assets/images/Fastnet-Rock.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.lighthouse4 {
  background-color: black;
  width: 600px;
  height:400px;
  border-radius: 5px;
  margin: 10px;
  position: relative;
  background-image: url(/assets/images/wicklow-head-lighthouse.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.lighthouse5 {
  background-color: black;
  width: 600px;
  height:400px;
  border-radius: 5px;
  margin: 10px;
  position: relative;
  background-image: url(/assets/images/Fanad_Head_Lighthouse__2699889956_.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 


/* video */

.video {
  text-align: center;
  
}

h4 {
  color: white;
  font-size: large;
  text-align: center;
  padding-bottom: 20px;
}

/* footer section */

footer {
  max-height: 150px;
  background-color: #232323;
  text-align: center;
  
}


.social-media-icons-white a {
  color: white;
  text-align: center;
}

.social-media-icons-white a:hover {
  color:#00FFC2
}

.social-media-icons-white > li {
display: inline;
margin: 1%;
padding: 2%;
}